body {
    font-family: Arial, sans-serif;
}

h3{
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 0.1em solid black;
    text-align: center;
    padding: 8px 18px;
} 

.table1 th, td {
    border: 0.1em solid palevioletred;
}

.table2 th, td{
    border: 0.1em solid black;
}

.table1 thead{
    background-color: rgba(255, 182, 193, 0.452)
}

.table1 tbody tr:nth-child(n) {
    background-color: rgba(255, 182, 193, 0.452)
}

/*2n+1*/
.table1 tbody tr:nth-child(odd) {
    background-color: rgba(255, 182, 193, 0.808);
}

.bold{
    font-weight: bold;
}